{% extends 'base.html.twig' %}

{% block title %}Exposition{% endblock %}

{% block body %}
    <h1>Exposition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exposition.id }}</td>
            </tr>
            <tr>
                <th>NomExpo</th>
                <td>{{ exposition.nomExpo }}</td>
            </tr>
            <tr>
                <th>TarifAdulte</th>
                <td>{{ exposition.tarifAdulte }}</td>
            </tr>
            <tr>
                <th>TarifEnfant</th>
                <td>{{ exposition.tarifEnfant }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ exposition.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exposition_index') }}">back to list</a>

    <a href="{{ path('app_exposition_edit', {'id': exposition.id}) }}">edit</a>

    {{ include('exposition/_delete_form.html.twig') }}
{% endblock %}
